<div class="popup-content">
    <div>
        <h3>{{feature.getProperty('LONGNAME')}}</h3>
    </div>

    <div>
        <div>
            {{feature.getProperty('BLDG_ADDR')}}
        </div>
        <img src="{{feature.getProperty('Photo')}}" style="width: 200px;" />
        <div>
            {{feature.getProperty('DEPARTMENTS')}}
        </div>
        <div>
            {{feature.getProperty('LABS')}}
        </div>
        <div ng-if="feature.getProperty('URL') != null">
            <a target="_blank" href="{{feature.getProperty('URL')}}">More Info</a>
        </div>
    </div>
    <br/>
    <a href='https://www.google.com/maps/dir/Current+Location/{{feature.getProperty("BLDG_ADDR")}}+Portland+OR' target='_blank'>Driving directions...</a>
</div>

